html,
body {
  height: 100%;
  margin: 0;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#editor,
#output {
  height: 100%;
  width: 100%;
}

#editor {
  border: 2px solid #ccc;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  width: auto;
  display: inline-block;
}

#output {
  color: red;
  overflow-y: scroll;
}

#output td {
  white-space: pre;
}

ul {
  list-style-type: none;
}

#editor-container {
  position: relative;
  width: 100%;
}

#editor {
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
}

#resizer {
  height: 20px;
  background: #ccc;
  cursor: ns-resize;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#iframe-drag-fix {
  pointer-events: none;
}
